/* home.module.css */

.btnCustom {
    background-color: #fff;
    /* Fundo branco */
    color: #333;
    /* Texto em cor #333 */
    border: 2px solid transparent;
    /* Borda inicial invisível */
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    /* Animação suave de transição */
    text-decoration: none;
    /* Remove o sublinhado do link */
    font-weight: 'bold' !important;
}

.btnCustom:hover {
    border: 2px solid #fff;
    /* Borda branca aparecendo na animação */
    transform: scale(1.05);
    /* Leve aumento de tamanho ao passar o mouse */
}

.btnCustom:focus {
    outline: none;
    /* Remove o contorno ao focar */
    box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.5);
    /* Sombra sutil ao focar */
}