/* home.module.css */

.btnCustom {
    background-color: #fff;
    /* Fundo branco */
    color: #333;
    /* Texto em cor #333 */
    border: 2px solid transparent;
    /* Borda inicial invisível */
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    /* Animação suave de transição */
    text-decoration: none;
    /* Remove o sublinhado do link */
    font-weight: 'bold' !important;
}

.btnCustom:hover {
    border: 2px solid #fff;
    /* Borda branca aparecendo na animação */
    transform: scale(1.05);
    /* Leve aumento de tamanho ao passar o mouse */
}

.btnCustom:focus {
    outline: none;
    /* Remove o contorno ao focar */
    box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.5);
    /* Sombra sutil ao focar */
}

/* Estilo do botão de resultados */
.resultadosBtn {
    background-color: #f08434;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(240, 132, 52, 0.4);
}

/* Estilo do botão de resultados */
.resultadosBtn:hover {
    background-color: #e06a2a;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(240, 132, 52, 0.6);
}

.parallaxSection {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Ativa o efeito parallax */
    background-repeat: no-repeat;
    height: 400px;
    /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Seção de serviços */
/* ------------------------------------------------------------------------------------------------ */

.customCard {
    background: #FFFFFF;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.customCard .cardBody {
    padding: 20px;
    width: 100%;
}

.customCardBtn {
    background-color: #e06a2a;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.customCardBtn:hover {
    background-color: rgb(187, 94, 27);
    color: white;
}

.imgCardContainer {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.cardImgTop {
    width: 50%;
    transition: opacity 0.5s ease-in-out;
    /* Transição suave de 0.5s */
    opacity: 1;
    /* Imagem totalmente visível por padrão */
}

/* Classe para quando a imagem está esmaecendo */
.fadeOut {
    opacity: 0;
    /* Imagem totalmente transparente */
}

/* ------------------------------------------------------------------------------------------------ */
/* Seção Conforto e Qualidade */
/* ------------------------------------------------------------------------------------------------ */

.smallImg {
    width: 100%;
    /* Responsivo */
    max-width: 150px;
    /* Define um tamanho máximo */
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.smallImg:hover {
    transform: scale(2);
    /* Aplica o zoom ao passar o mouse */
}

.efeitoInner {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 1400px) {
    .smallImg {
        max-width: 120px;
        /* Reduz o tamanho em telas menores */
    }
}