/* navbar.module.css */

/* Estilo do botão de resultados */
.resultadosBtn {
    background-color: #f08434;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(240, 132, 52, 0.4);
}

.resultadosBtn:hover {
    background-color: #e06a2a;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(240, 132, 52, 0.6);
}

/* Estilo dos links do navbar */
.navLinkCustom {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Efeito underline ao passar o mouse */
.navLinkCustom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #f08434;
    /* Cor do underline */
    transition: width 0.3s ease-in-out;
}

/* Expande o underline ao passar o mouse */
.navLinkCustom:hover::after {
    width: 100%;
}

/* Muda a cor do link ao passar o mouse */
.navLinkCustom:hover {
    color: #f08434;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Para garantir que o botão Resultados no mobile fique à esquerda do hambúrguer */
.navbar-toggler {
    margin-left: auto;
}

@media (max-width: 991.98px) {
    .resultadosBtn {
        margin-left: 0px;
    }

    .navContainer {
        margin: 10px 0px;
        gap: 10px;
    }

    .navLinkCustom {
        border: 2px solid #333;
        border-radius: 10px;
    }
}